{% extends 'baseMaleteo.html.twig' %} {% block cuerpo %}
<section class="app-form">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="the-form">
        {{ form_start(opinionForm) }}
        <p class="the-form__title heading3">Deja aquí tu opinión</p>
        <div class="the-form__group">
          {{ form_row(opinionForm.autor, {'attr': {'class': 'the-form__input', 'placeholder': 'Vincent Chase'



          }}) }}
        </div>
        <div class="the-form__group">
          {{ form_row(opinionForm.ciudad, {'attr': {'class': 'the-form__input', 'placeholder': 'Tetuán, Madrid'



          }}) }}
        </div>
        <div class="the-form__group">
          {{ form_row(opinionForm.comentario, {'attr': {'class': 'the-form__input', 'placeholder': 'Deja aquí tu comentario'



          }}) }}
        </div>
        <input
          type="submit"
          class="the-form__btn btn btn-lg btn-primary"
          value="Enviar"
        />
        {{ form_end(opinionForm) }}
      </div>
    </div>
  </div>
</section>

{% endblock %}
