{% extends 'baseMaleteo.html.twig' %} {% block cuerpo %}
<section class="app-form">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="the-form">
        {{ form_start(registroForm) }}
        <p class="the-form__title heading3">Rellena con tus datos</p>
        <div class="the-form__group">
          {{ form_row(registroForm.nombre, {'attr': {'class': 'the-form__input', 'placeholder': 'Vincente'





          }}) }}
        </div>
        <div class="the-form__group">
          {{ form_row(registroForm.apellidos, {'attr': {'class': 'the-form__input', 'placeholder': 'Sánchez Fernández'





          }}) }}
        </div>
        <div class="the-form__group">
          {{ form_row(registroForm.email, {'attr': {'class': 'the-form__input', 'placeholder': 'Vincent_87@gmail.com'





          }}) }}
        </div>
        <div class="the-form__group">
          {{ form_row(registroForm.password, {'attr': {'class': 'the-form__input', 'placeholder': 'Min 8 caracteres'





          }}) }}
        </div>
        <input
          type="submit"
          class="the-form__btn btn btn-lg btn-primary"
          value="Registrarme"
        />
        {{ form_end(registroForm) }}
      </div>
    </div>
  </div>
</section>

{% endblock %}
