{% extends 'baseMaleteo.html.twig' %} {% block cuerpo %}

<div class="container">
  <h2>Listado de Solicitudes</h2>
  <div class="row row-cols-1 row-cols-md-1">
    {% for solicitud in solicitudes %}
    <div class="col mb-4">
      <h5>{{ solicitud.nombre }}</h5>
      <p>{{ solicitud.email }}</p>
      <p>{{ solicitud.ciudad }}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block title %}Listado de Pokemons{% endblock %}
