<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block titulo %}Maleteo{% endblock %}</title>
    {% block estilos %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      <link
      href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    {% endblock %} {% block javascripts %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    {% endblock %}
  </head>
  <body>
    <div class="wrapper">
      <div class="container-fluid">
        <header class="header">
          <img src="/img/logo.svg" alt="Maleteo" />
          <div class="header__mensaje">
            {% if is_granted('ROLE_USER') %} Bienvenid@ {{ app.user.nombre }},
            <a href="{{ path('app_logout') }}">Logout</a>
            {% endif %}
          </div>
        </header>
      </div>
    </div>
    <main>
      <div class="jumbo">
        <div class="wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="jumbo__ww-title">
                  <div class="jumbo__w-title">
                    <h1 class="jumbo__title heading1">
                      Gana dinero guardando equipaje a viajeros como tu
                    </h1>
                    <ul class="jumbo__app-btns">
                      <li>
                        <a href="#">
                          <img
                            src="/img/app-store.svg"
                            alt=""
                            class="jumbo__app-btn"
                          />
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <img
                            src="/img/google-play.svg"
                            alt=""
                            class="jumbo__app-btn"
                          />
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% block cuerpo %}
      <h1>Página Base de maleteo</h1>
      {% endblock %}
    </main>
    <footer class="footer">
      <div class="wrapper">
        <div class="container-fluid">
          <img src="/img/logo.svg" alt="Maleteo" class="footer__logo" />
          <p class="footer__claim">Hecho con ❤️en Madrid</p>
        </div>
      </div>
    </footer>
  </body>
</html>
