{% extends 'baseMaleteo.html.twig' %} {% block cuerpo %}
<div class="wrapper">
  <div class="container-fluid">
    <section class="howworks">
      <h2 class="howworks__title heading2">¿Cómo funciona?</h2>
      <ol class="howworks__steps row">
        <li class="col-md-4">
          <div class="howworks__step">
            <div class="howworks__step-w-bola">
              <div class="howworks__step-bola">
                <span class="heading3">1</span>
              </div>
            </div>
            <div class="howworks__step-w-txt">
              <p class="howworks__step-title heading3">Date de alta</p>
              <p class="howworks__step-txt">
                Una olla de algo más vaca que carnero, salpicón las más noches,
                duelos y quebrantos los sábados.
              </p>
            </div>
          </div>
        </li>
        <li class="col-md-4">
          <div class="howworks__step">
            <div class="howworks__step-w-bola">
              <div class="howworks__step-bola">
                <span class="heading3">1</span>
              </div>
            </div>
            <div class="howworks__step-w-txt">
              <p class="howworks__step-title heading3">Date de alta</p>
              <p class="howworks__step-txt">
                Una olla de algo más vaca que carnero, salpicón las más noches,
                duelos y quebrantos los sábados.
              </p>
            </div>
          </div>
        </li>
        <li class="col-md-4">
          <div class="howworks__step">
            <div class="howworks__step-w-bola">
              <div class="howworks__step-bola">
                <span class="heading3">1</span>
              </div>
            </div>
            <div class="howworks__step-w-txt">
              <p class="howworks__step-title heading3">Date de alta</p>
              <p class="howworks__step-txt">
                Una olla de algo más vaca que carnero, salpicón las más noches,
                duelos y quebrantos los sábados.
              </p>
            </div>
          </div>
        </li>
      </ol>
    </section>
    <section class="app-form">
      <div class="row">
        <div class="col-md-5">
          <div class="app-form__w-app-img">
            <img
              src="/img/iPhoneX.png"
              srcset="/img/iPhoneX@2x.png 2x, /img/iPhoneX.png 1x"
              alt=""
              class="app-form__app-img"
            />
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="the-form">
            {{ form_start(solicitudForm) }}
            <p class="the-form__title heading3">Solicita una demo</p>
            <div class="the-form__group">
              {{ form_row(solicitudForm.nombre, {'attr': {'class': 'the-form__input', 'placeholder': 'Vincent Chase'





              }}) }}
            </div>
            <div class="the-form__group">
              {{ form_row(solicitudForm.email, {'attr': {'class': 'the-form__input', 'placeholder': 'vincent@mga.com'





              }}) }}
            </div>
            <div class="the-form__group">
              {{ form_row(solicitudForm.ciudad, {'attr': {'class': 'the-form__input the-form__select'





              }}) }}
            </div>
            <div class="the-form__group the-form__group_checkbox">
              <input type="checkbox" id="privacity" />
              <label for="privacity">
                Aceptas la <a href="#">política de privacidad</a>
              </label>
            </div>

            <input
              type="submit"
              class="the-form__btn btn btn-lg btn-primary"
              value="Enviar"
            />
            {{ form_end(solicitudForm) }}
          </div>
        </div>
      </div>
      <div class= "app-form__btn" >
        <a href="{{ path("solicitudes") }}" class="the-form__btn btn btn-lg btn-primary">Ver solicitudes</a>
      </div>
    </section>

    

    <section class="opinions">
      <h2 class="opinions__title heading2">Opiniones de otros guardianes</h2>
      <ul class="row">
        <li class="col-md-4">
          <div class="opinion">
            <blockquote class="opinion__blq simple-bubble text-large">
              {{ opiniones[0].comentario }}
            </blockquote>
            <p class="opinion__author text-large">{{ opiniones[0].autor }}</p>
            <p class="opinion__author-address">{{ opiniones[0].ciudad }}</p>
          </div>
        </li>
        <li class="col-md-4">
          <div class="opinion">
            <blockquote class="opinion__blq simple-bubble text-large">
              {{ opiniones[1].comentario }}
            </blockquote>
            <p class="opinion__author text-large">{{ opiniones[1].autor }}</p>
            <p class="opinion__author-address">{{ opiniones[1].ciudad }}</p>
          </div>
        </li>
        <li class="col-md-4">
          <div class="opinion">
            <blockquote class="opinion__blq simple-bubble text-large">
              {{ opiniones[2].comentario }}
            </blockquote>
            <p class="opinion__author text-large">{{ opiniones[2].autor }}</p>
            <p class="opinion__author-address">{{ opiniones[2].ciudad }}</p>
          </div>
        </li>
      </ul>
      <div class = "opinions__btn">
        <a href="{{ path("opiniones") }}" class="the-form__btn btn btn-lg btn-primary">Dejar opinión</a>
      </div>
    </section>
    
  </div>
</div>
{% endblock %}
