.opinions {
  margin-bottom: 3em;
  &__title {
    margin-bottom: 1em;
    @media only screen and (min-width: $breakpoint-md) {
      text-align: center;
    }
  }
  &__btn{
    margin-left: 2000px;
  }
}